.searchForm {
  width: 25%;
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;

  align-items: flex-end;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  color: #fff;
}
.searchForm input {
  border: none;
  border-color: transparent;
  outline: none;
  background-color: #252830;
  width: 80%;
  padding: 1rem;
  font-size: 16px;
  transition: 0.5s;
  height: 50px;
  color: #fff;
}
.input {
  border: none;
  outline: none;
  color: #fff;
  margin: 0;
  background-color: #252830;
  height: 50px;

  padding: 0.7rem;
}
.searchForm button {
  background-color: #24262b;
  margin-top: 0.9rem;
  width: 5rem;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  min-height: 50px;
  transition: all 0.5s ease-in-out;
}
.searchForm button:hover {
  background-color: #252830;
  color: brown;
}
