@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");

body {
  font-family: "Scheherazade New", serif;
}
.navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #8c4af2;
  /* background-color: #393e46; */
  position: fixed;
  border-radius: 5px;
  width: 11%;
}
.links {
  text-decoration: none;
  color: #eeeeee;
}
