@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
#root {
  font-size: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
video {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:root {
  --main--color: #55545f;
  /* --main--sec: #d9dafc; */
  --main--sec: #bbc3ce;
  --btn--color: #2012fe;
  /* --header--bg: #8c4af2; */
  --header--bg: #e5e7ed;
  --header--color: #2012fe;
  --header--selected-link: #55545f;
  --box--shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
button {
  background-color: var(--btn--color);
  color: var(--main--sec);
  border: none;
  box-shadow: var(--box--shadow);
  padding: 0.4rem 1rem;

  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
body {
  background-color: var(--main--sec);
  margin: 0;
  font-family: "Scheherazade New", serif;
  color: var(--main--color);
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.right {
  width: 12%;
  position: relative;
}
.left {
  width: 85%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
