@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
:root {
  --main--color: #55545f;
  --main--sec: #d9dafc;
  --btn--color: #2716e7;
}
button {
  background-color: var(--btn--color);
  color: var(--main--sec);
  border: none;

  padding: 0.4rem 1rem;

  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
body {
  background-color: var(--main--sec);
  margin: 0;
  font-family: "Scheherazade New", serif;
  color: var(--main--color);
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.right {
  width: 12%;
  position: relative;
}
.left {
  width: 85%;
}
