@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
:root {
  --main--color: #eeeeee;
  --main--sec: #2b2e4a;
}
body {
  background-color: var(--main--sec);
  margin: 0;
  font-family: "Scheherazade New", serif;
  color: var(--main--color);
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.right {
  width: 12%;
}
.left {
  width: 85%;
}
